/* Variables */
:root {
  --color-suffolk-blue: #15284b;
  --color-suffolk-blue-dim: rgba(21, 40, 75, .5);
  --color-suffolk-gold: #fdb924;
  --color-suffolk-gold-dim: rgba(253, 185, 36, .5);

  --color-element-decorations: var(--color-suffolk-gold);
  --color-links: var(--color-suffolk-gold);
  --color-links-hover: var(--color-suffolk-gold);
  --color-text-body: var(--color-suffolk-blue);
  --color-text-headings: var(--color-suffolk-blue);
}

/* Watermark */
.remark-slides-area {
  .remark-slide-content {
    border-left: var(--spacing-sm) solid var(--color-suffolk-gold);
    padding: 2em 6em 2em calc(6em - var(--spacing-sm));
  }

  .remark-slide-container:not(:first-child) {
    .remark-slide-content {
      &::before {
        content: '';
        background-image: url(assets/lit-lab-logos/lit-lab-torch-inverted.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: var(--slides--font-size-xxl);
        position: absolute;
          left: 1em;
          bottom: 1em;
        width: calc(var(--slides--font-size-xxl) * .4576940605);
      }
    }
  }
}

.remark-slide-content {
  /* Colors */
  .suffolk-blue {
    color: var(--color-suffolk-blue);
  }
  
  .color-suffolk-gold {
    &,
    & a {
      color: var(--color-suffolk-gold);
    }
  }
  
  .color-suffolk-blue-dim {
    color: var(--color-suffolk-blue-dim);
  }
  
  .color-suffolk-gold-dim {
    color: var(--color-suffolk-gold-dim);
  }
  
  /* Images */
  i {
    color: var(--color-suffolk-gold);
    
    &.color-suffolk-blue {
      color: var(--color-suffolk-blue);
    }

    &.color-suffolk-blue-dim {
      color: var(--color-suffolk-blue-dim);
    }

    &.circled {

      &::before {
        background-color: var(--color-suffolk-gold);
        border-radius: 9999px;
        color: White;
        display: inline-grid;
        height: 1.5em;
        place-content: center;
        width: 1.5em;
      }

      &.color-suffolk-blue::before {
        background-color: var(--color-suffolk-blue);
      }

      &.color-suffolk-blue-dim::before {
        background-color: var(--color-suffolk-blue-dim);
      }
    }
  }
  
  /* Layout */
  
  /* Typography */
  blockquote {
    color: var(--color-suffolk-blue);
  }
}

