@use 'variables' as *;

.remark-slide-content {
  padding: 2em 6em;

  
  
  > :first-child  {
    margin-top: 0;
  }
  
  > :nth-last-child(2)  {
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6,
  p {
    margin: var(--spacing-default) 0;
  }
  
  blockquote,
  ol,
  ul {
    margin: var(--spacing-lg) 0;
    
    ul {
      margin: var(--spacing-default) 0;
    }
  }
  
  img {
    height: var(--image-height-default);
    width: auto;
  }
}
