.remark-slide-content {
  padding: 2em 6em;

  * {
    margin-top: var(--spacing-default);
    margin-bottom: var(--spacing-default);
  }
  
  > :first-child  {
    margin-top: 0;
  }
  
  > :nth-last-child(2)  {
    margin-bottom: 0;
  }
  
  blockquote,
  ol,
  ul {
    margin: var(--spacing-lg) 0;
  }
  
  img {
    height: var(--image-height-default);
    width: auto;
  }
}
