@use 'variables' as *;

.remark-slide-content {
  padding: 2em 6em;

  * {
    margin-top: var(--spacing-default);
    margin-bottom: var(--spacing-default);
  }
  
  > :first-child  {
    margin-top: 0;
  }
  
  > :nth-last-child(2)  {
    margin-bottom: 0;
  }
  
  blockquote,
  ol,
  ul {
    margin: var(--spacing-lg) 0;
    
    ul {
      margin: var(--spacing-default) 0;
    }
  }
  
  img {
    height: auto;
    max-height: var(--image-height-default);
    max-width: 100%;
    width: auto;
  }
}
