.remark-toolbar .remark-toolbar-timer,
.remark-notes-area .remark-bottom-area .remark-toggle {
  font-family: var(--font-family-default);
}

.remark-notes,
.remark-notes-preview {
  font-family: var(--font-family-default);
  line-height: var(--line-height-default);

  ol,
  ul {
    li {
      margin-top: var(--spacing-xxs);
      margin-bottom: var(--spacing-xxs);
    }
  }
}
