.remark-slide-content {
  color: var(--color-text-body);
  font-family: var(--font-family-default);
  font-size: var(--slides--font-size-md);
  line-height: var(--line-height-default);

  blockquote {
    border-left-width: 10px;

    p:has(cite) {
      line-height: var(--line-height-sm);
    }

    cite {
      font-size: var(--slides--font-size-sm);
    }
  }
}