@use 'variables' as *;

.color-white {
  color: white;
}

.dim {
  color: var(--color-dim);
}

.highlight {
  background-color: var(--color-highlight);
}

.light {
  color: var(--color-text-light);
}

.red {
  color: #cc0000;
}