@use 'variables' as *;

[class^="background-"] {
  margin-top: var(--spacing-default);
  margin-bottom: var(--spacing-default);
  padding: var(--spacing-xs) var(--spacing-sm);
  
  blockquote,
  h1, h2, h3, h4, h5, h6,
  ol, ul,
  p
  {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.position-bottom {
    bottom: calc(1em + var(--spacing-default));
  }
}

.background-image-screen {
  &::after {
    background-color: var(--color-gray-wash);
    content: '';
    display: block;
    height: 100%;
    inset: 0;
    position: absolute;
      top: 0;
      left: 0;
    width: 100%;
  }
}

.background-dim {
  background-color: var(--color-dim);
}

.background-element-decorations {
  background-color: var(--color-element-decorations);
}

.background-highlight {
  background-color: var(--color-highlight);
}

.background-gray-wash {
  background-color: var(--color-gray-wash);
}

.background-links {
  background-color: var(--color-links);
}

.background-text-light {
  background-color: var(--color-text-light);
}

.background-text-body {
  background-color: var(--color-text-body);
  color: white;
}

.background-text-headings {
  background-color: var(--color-text-headings);
  color: white;
}


.color-white {
  color: white;
}

.dim {
  color: var(--color-dim);
}

.highlight {
  background-color: var(--color-highlight);
}

.light {
  color: var(--color-text-light);
}

.red {
  color: #cc0000;
}