@use 'variables' as *;
@use 'sass:map';

$sizes: (
  'xxs',
  'xs',
  'sm',
  'default',
  'md',
  'lg',
  'xl',
  'xxl',
  'huge'
);

@each $size in $sizes {
  $prop: $size;
  @if $size == 'sm' {
    $prop: 'sm, small';
  }

  .remark-slide-content {
    .font-size-#{$prop} {
      font-size: var(--slides--font-size-#{$size});
    }
  }
}