@use 'variables' as *;

.block {
  display: block;
}

.centered {
  margin-right: auto;
  margin-left: auto;
}

.left {
  margin-right: auto;
  margin-left: 0;
}

.right {
  margin-right: 0;
  margin-left: auto;
}

.flip-x {
  &:not(i) {
    transform: scaleX(-1);
  }
  
  &:where(i)::before {
    transform: scaleX(-1);
  }
}

.flip-y {
  &:not(i) {
    transform: scaleY(-1);
  }
  
  &:where(i)::before {
    transform: scaleY(-1);
  }
}

.rotate-90-cw {
  &:not(i) {
    transform: rotate(90deg);
  }
  
  &:where(i)::before {
    transform: rotate(90deg);
  }
}

.rotate-90-ccw {
  &:not(i) {
    transform: rotate(-90deg);
  }
  
  &:where(i)::before {
    transform: rotate(-90deg);
  }
}

.rotate-180 {
  &:not(i) {
    transform: rotate(180deg);
  }
  
  &:where(i)::before {
    transform: rotate(180deg);
  }
}

// Flex & Grid
.row {
  display: flex;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-default);
  margin-bottom: var(--spacing-default);

  & > *,
  img {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.grid {
  display: grid;
  gap: var(--spacing-sm);
  grid-template-columns: repeat(2, 1fr);

  margin-top: var(--spacing-default);
  margin-bottom: var(--spacing-default);

  &.grid-auto {
    grid-template-columns: repeat(2, minmax(auto, max-content));
  }

  &.grid-2-1 {
    grid-template-columns: 2fr 1fr;
  }

  &.grid-1-2 {
    grid-template-columns: 1fr 2fr;
  }
  
  & > *,
  img {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.col {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.align-items-center {
  align-items: center;
}

$sizes: (
  'tiny',
  'xxs',
  'xs',
  'sm',
  'default',
  'md',
  'lg',
  'xl',
  'xxl',
  'huge'
);

@each $size in $sizes {
  .gap-#{$size} {
    gap: var(--spacing-#{$size});
  }

  .column-gap-#{$size} {
    column-gap: var(--spacing-#{$size});
  }

  .row-gap-#{$size} {
    row-gap: var(--spacing-#{$size});
  }
}