.block {
  display: block;
}

.flip-x {
  &:not(i) {
    transform: scaleX(-1);
  }
  
  &:where(i)::before {
    transform: scaleX(-1);
  }
}

.flip-y {
  &:not(i) {
    transform: scaleY(-1);
  }
  
  &:where(i)::before {
    transform: scaleY(-1);
  }
}

// Flex
.row {
  display: flex;
  gap: var(--spacing-sm);
}

// Grid
.grid {
  display: grid;
  gap: var(--spacing-sm);
  grid-template-columns: (auto-fill, minmax(min(10rem, 100%), 1fr));
}