@use 'variables' as *;
@use 'sass:map';

$sides: (
  'top',
  'right',
  'bottom',
  'left'
);

$sizes: (
  'tiny',
  'xxs',
  'xs',
  'sm',
  'default',
  'md',
  'lg',
  'xl',
  'xxl',
  'huge'
);

.remark-slide-content {
  @each $side in $sides {
    @each $size in $sizes {
      .margin-#{$side}-#{$size} {
        &:not(:has(img)) {
          margin-#{$side}: var(--spacing-#{$size});
        }

        img {
          margin-#{$side}: var(--spacing-#{$size});
        }
      }
    }
  }

  :has(> :first-child.margin-top-0) {
    margin-top: 0;
  }

  .margin-top-0 {
    margin-top: 0;

    > :first-child {
      margin-top: 0;
    }
  }

  :has(> :last-child.margin-bottom-0) {
    margin-bottom: 0;
  }

  .margin-bottom-0 {
    margin-bottom: 0;

    > :last-child {
      margin-bottom: 0;
    }
  }
}
