@use 'variables' as *;
@use 'sass:map';

$sizes: (
  'xxs',
  'xs',
  'sm',
  'default',
  'md',
  'lg',
  'xl',
  'xxl',
  'huge'
);

@each $size in $sizes {
  $prop: $size;
  @if $size == 'sm' {
    $prop: 'sm, small';
  }

  .remark-slide-content {
    .font-size-#{$prop} {
      font-size: var(--slides--font-size-#{$size});
    }
  }
}

.remark-slide-content {
  .font-size-2xhuge {
    font-size: calc( var(--slides--font-size-huge) * 2);
  }

  .font-size-3xhuge {
    font-size: calc( var(--slides--font-size-huge) * 3);
  }

  .font-size-4xhuge {
    font-size: calc( var(--slides--font-size-huge) * 4);
  }

  .font-size-5xhuge {
    font-size: calc( var(--slides--font-size-huge) * 5);
  }
}