@use 'sass:map';

$image-sizes: (
  'xs',
  'sm',
  'default',
  'md',
  'lg',
  'xl'
);

@each $size in $image-sizes {
  .image-height-#{$size} {
    img {
      height: var(--image-height-#{$size});
      width: auto;
    }
  }
}

.image-height-full {
  img {
    height: 100%;
    width: auto;
  }
}

.image-width-full {
  img {
    height: auto;
    width: 100%;
  }
}

$font-sizes: (
  'xs',
  'sm',
  'default',
  'md',
  'lg',
  'xl',
  'xxl',
  'huge'
);

@each $size in $font-sizes {
  .image-height-font-size-#{$size} {
    img {
      height: var(--font-size-#{$size});
      width: auto;
    }
  }
}