:root {  
  --color-dim: rgba(112, 128, 144, .5); // Based on SlateGray
  --color-element-decorations: var(--color-text-light);
  --color-highlight: rgba(255, 255, 0, .5);
  --color-links: SlateBlue;
  --color-links-hover: DarkSlateBlue;
  --color-text-light: SlateGray;
  --color-text-body: #111111;
  --color-text-headings: #333333;
  
  --font-family-default: 'Atkinson Hyperlegible', var(--font-system-sans-serif);
  --font-system-sans-serif: -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', 'Helvetica Neue', Helvetica, Cantarell, Ubuntu, Roboto, 'Noto Sans', Noto, Arial, sans-serif;
  --font-system-serif: 'Iowan Old Style', 'Apple Garamond', Baskerville, 'Times New Roman', 'Droid Serif', Times, 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-system-mono: Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;

  --slides--font-size-xxs: calc(var(--slides--font-size-xs) / 1.2);
  --slides--font-size-xs: calc(var(--slides--font-size-sm) / 1.2);
  --slides--font-size-sm: calc(var(--slides--font-size-default) / 1.2);
  --slides--font-size-default: 1.875rem;
  --slides--font-size-md: calc(var(--slides--font-size-default) * 1.2);
  --slides--font-size-lg: calc(var(--slides--font-size-md) * 1.2);
  --slides--font-size-xl: calc(var(--slides--font-size-lg) * 1.2);
  --slides--font-size-xxl: calc(var(--slides--font-size-xl) * 1.2);
  --slides--font-size-huge: calc(var(--slides--font-size-xxl) * 1.2);
  
  --index--font-size-xxs: calc(var(--index--font-size-xs) / 1.2);
  --index--font-size-xs: calc(var(--index--font-size-sm) / 1.2);
  --index--font-size-sm: calc(var(--index--font-size-default) / 1.2);
  --index--font-size-default: 1.25rem;
  --index--font-size-md: calc(var(--index--font-size-default) * 1.2);
  --index--font-size-lg: calc(var(--index--font-size-md) * 1.2);
  --index--font-size-xl: calc(var(--index--font-size-lg) * 1.2);
  --index--font-size-xxl: calc(var(--index--font-size-xl) * 1.2);
  --index--font-size-huge: calc(var(--index--font-size-xxl) * 1.2);
  
  --image-height-xs: calc(var(--image-height-sm) / 1.5);
  --image-height-sm: calc(var(--image-height-default) / 1.5);
  --image-height-default: 9.375rem;
  --image-height-md: calc(var(--image-height-default) * 1.5);
  --image-height-lg: calc(var(--image-height-md) * 1.5);
  --image-height-xl: calc(var(--image-height-lg) * 1.5);

  --line-height-default: 1.3;
  --line-height-sm: 1.15;
  
  --spacing-tiny: calc(var(--spacing-xxs) / 1.5);
  --spacing-xxs: calc(var(--spacing-xs) / 1.5);
  --spacing-xs: calc(var(--spacing-sm) / 1.5);
  --spacing-sm: calc(var(--spacing-default) / 1.5);
  --spacing-default: .9375rem;
  --spacing-md: calc(var(--spacing-default) * 1.5);
  --spacing-lg: calc(var(--spacing-md) * 1.5);
  --spacing-xl: calc(var(--spacing-lg) * 1.5);
  --spacing-xxl: calc(var(--spacing-xl) * 1.5);
  --spacing-huge: calc(var(--spacing-xxl) * 1.5);
}

