@import 'variables';
@import 'typography';
@import 'utils-fontsize';
@import 'utils-layout';
@import 'utils-spacing';
@import 'utils-typography';

$teal: #67c4cf;

:root { 
  --font-family-default: 'Jost', var(--font-system-sans-serif);
  --color-links: #cc0000;
  --color-links-hover: #aa0000;
}

// Layout
body {
  font-family: var(--font-family-default);
  font-size: 1.25rem;
  line-height: var(--line-height-default);
  margin: 0;
  padding: 0;
}

#header,
#main {
  > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    padding-right: var(--spacing-sm);
    padding-left: var(--spacing-sm);
  }
}

#header {
  background: $teal;
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-default);

  .title {
    color: White;
    font-weight: bold;
    line-height: var(--line-height-sm);
    margin-top: 0;
    margin-bottom: 0;

    a {
      text-decoration: none;

      &:not(:hover, :focus) {
        color: White;
      }
    }
  }
}

#main {
  > :first-child {
    margin-top: var(--spacing-lg);
  }
  
  > :last-child {
    margin-bottom: var(--spacing-lg);
  }
}

.slides-section {
  h2 {
    font-size: var(--index--font-size-md);
    line-height: var(--line-height-sm);
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-default);
  }

  p {
    margin-top: var(--spacing-default);
    margin-bottom: var(--spacing-default);

    &.label {
      font-size: var(--index--font-size-sm);
    }
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding: 0;

    ul ul {
      margin-left: revert;
    }
  }
}
