:root {
  --color-background: Snow;
  --color-dim: rgba(112, 128, 144, .5);
  --color-element-decorations: var(--color-text-light);
  --color-highlight: rgba(255, 255, 0, .5);
  --color-gray-wash: rgba(112, 128, 144, .25);
  --color-links: SlateBlue;
  --color-links-hover: DarkSlateBlue;
  --color-text-light: SlateGray;
  --color-text-body: #111111;
  --color-text-headings: #333333;
  --font-family-default: 'Atkinson Hyperlegible', var(--font-system-sans-serif);
  --font-system-sans-serif: -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', 'Helvetica Neue', Helvetica, Cantarell, Ubuntu, Roboto, 'Noto Sans', Noto, Arial, sans-serif;
  --font-system-serif: 'Iowan Old Style', 'Apple Garamond', Baskerville, 'Times New Roman', 'Droid Serif', Times, 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-system-mono: Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;
  --slides--font-size-default: 1.875rem;
  --slides--font-size-xxs: calc(var(--slides--font-size-xs) / 1.2);
  --slides--font-size-xs: calc(var(--slides--font-size-sm) / 1.2);
  --slides--font-size-sm: calc(var(--slides--font-size-default) / 1.2);
  --slides--font-size-md: calc(var(--slides--font-size-default) * 1.2);
  --slides--font-size-lg: calc(var(--slides--font-size-md) * 1.2);
  --slides--font-size-xl: calc(var(--slides--font-size-lg) * 1.2);
  --slides--font-size-xxl: calc(var(--slides--font-size-xl) * 1.2);
  --slides--font-size-huge: calc(var(--slides--font-size-xxl) * 1.2);
  --index--font-size-default: 1.25rem;
  --index--font-size-xxs: calc(var(--index--font-size-xs) / 1.2);
  --index--font-size-xs: calc(var(--index--font-size-sm) / 1.2);
  --index--font-size-sm: calc(var(--index--font-size-default) / 1.2);
  --index--font-size-md: calc(var(--index--font-size-default) * 1.2);
  --index--font-size-lg: calc(var(--index--font-size-md) * 1.2);
  --index--font-size-xl: calc(var(--index--font-size-lg) * 1.2);
  --index--font-size-xxl: calc(var(--index--font-size-xl) * 1.2);
  --index--font-size-huge: calc(var(--index--font-size-xxl) * 1.2);
  --border-width: 3px;
  --border-style: solid;
  --border-color: currentColor;
  --border-radius: var(--border-width);
  --border-default: var(--border-width) var(--border-style) var(--border-color);
  --shadow: 5px 5px var(--color-gray-wash);
  --shadow-small: 1.25px 1.25px var(--color-gray-wash);
  --image-height-default: 9.375rem;
  --image-height-xs: calc(var(--image-height-sm) / 1.5);
  --image-height-sm: calc(var(--image-height-default) / 1.5);
  --image-height-md: calc(var(--image-height-default) * 1.5);
  --image-height-lg: calc(var(--image-height-md) * 1.5);
  --image-height-xl: calc(var(--image-height-lg) * 1.5);
  --line-height-default: 1.3;
  --line-height-sm: 1.15;
  --slide-padding-y: 2em;
  --slide-padding-x: 6em;
  --spacing-default: .9375rem;
  --spacing-tiny: calc(var(--spacing-xxs) / 1.5);
  --spacing-xxs: calc(var(--spacing-xs) / 1.5);
  --spacing-xs: calc(var(--spacing-sm) / 1.5);
  --spacing-sm: calc(var(--spacing-default) / 1.5);
  --spacing-md: calc(var(--spacing-default) * 1.5);
  --spacing-lg: calc(var(--spacing-md) * 1.5);
  --spacing-xl: calc(var(--spacing-lg) * 1.5);
  --spacing-xxl: calc(var(--spacing-xl) * 1.5);
  --spacing-huge: calc(var(--spacing-xxl) * 1.5);
}

a {
  color: var(--color-links);
  text-underline-offset: 0.15em;
}
a:hover, a:focus {
  color: var(--color-links-hover);
}
a:not(:hover, :focus) {
  text-decoration-color: rgba(0, 0, 0, 0.1);
}

blockquote {
  border-left: 3px solid var(--color-element-decorations);
  color: var(--slides--color-text-headings);
  margin-left: 0;
  padding: 0 0 0 var(--spacing-md);
}
blockquote cite {
  color: var(--color-text-light);
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-headings);
  font-weight: bolder;
  line-height: var(--line-height-sm);
  margin-bottom: var(--spacing-tiny);
}

ol,
ul {
  margin-left: 0;
  padding-left: 1em;
}
ol li::marker,
ul li::marker {
  color: var(--color-element-decorations);
}

.remark-slide-content h1 {
  font-size: var(--slides--font-size-xxl);
}
.remark-slide-content h2 {
  font-size: var(--slides--font-size-xl);
}
.remark-slide-content h3 {
  font-size: var(--slides--font-size-lg);
}
.remark-slide-content h4 {
  font-size: var(--slides--font-size-md);
}
.remark-slide-content h5 {
  font-size: var(--slides--font-size-default);
}
.remark-slide-content h6 {
  font-size: var(--slides--font-size-sm);
}

.remark-slide-content {
  background-color: var(--color-background);
  padding: 2em 6em;
}
.remark-slide-content > :first-child {
  margin-top: 0;
}
.remark-slide-content > :nth-last-child(2) {
  margin-bottom: 0;
}
.remark-slide-content h1, .remark-slide-content h2, .remark-slide-content h3, .remark-slide-content h4, .remark-slide-content h5, .remark-slide-content h6,
.remark-slide-content p {
  margin: var(--spacing-default) 0;
}
.remark-slide-content blockquote,
.remark-slide-content ol,
.remark-slide-content ul {
  margin: var(--spacing-lg) 0;
}
.remark-slide-content blockquote ul,
.remark-slide-content ol ul,
.remark-slide-content ul ul {
  margin: var(--spacing-default) 0;
}
.remark-slide-content img {
  height: var(--image-height-default);
  width: auto;
}

.remark-slide-content {
  color: var(--color-text-body);
  font-family: var(--font-family-default);
  font-size: var(--slides--font-size-md);
  line-height: var(--line-height-default);
}
.remark-slide-content blockquote {
  border-left-width: 10px;
}
.remark-slide-content blockquote p:has(cite) {
  line-height: var(--line-height-sm);
}
.remark-slide-content blockquote cite {
  font-size: var(--slides--font-size-sm);
}

.remark-toolbar .remark-toolbar-timer,
.remark-notes-area .remark-bottom-area .remark-toggle {
  font-family: var(--font-family-default);
}

.remark-notes,
.remark-notes-preview {
  font-family: var(--font-family-default);
  line-height: var(--line-height-default);
}
.remark-notes blockquote p:not(:has(cite)),
.remark-notes-preview blockquote p:not(:has(cite)) {
  font-size: 1.2em;
}
.remark-notes blockquote p:has(cite),
.remark-notes-preview blockquote p:has(cite) {
  line-height: var(--line-height-sm);
}
.remark-notes ol li,
.remark-notes ul li,
.remark-notes-preview ol li,
.remark-notes-preview ul li {
  margin-top: var(--spacing-xxs);
  margin-bottom: var(--spacing-xxs);
}

.background-image-screen {
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: darken;
}

[class^=background-highlight-] {
  margin-top: var(--spacing-default);
  margin-bottom: var(--spacing-default);
}
[class^=background-highlight-] blockquote,
[class^=background-highlight-] h1, [class^=background-highlight-] h2, [class^=background-highlight-] h3, [class^=background-highlight-] h4, [class^=background-highlight-] h5, [class^=background-highlight-] h6,
[class^=background-highlight-] ol, [class^=background-highlight-] ul,
[class^=background-highlight-] p {
  margin-top: 0;
  margin-bottom: 0;
}
[class^=background-highlight-].position-bottom {
  bottom: calc(1em + var(--spacing-default));
}

.background-highlight-dim {
  background-color: var(--color-dim);
}

.background-highlight-element-decorations {
  background-color: var(--color-element-decorations);
}

.background-highlight-highlight {
  background-color: var(--color-highlight);
}

.background-highlight-gray-wash {
  background-color: var(--color-gray-wash);
}

.background-highlight-links {
  background-color: var(--color-links);
}

.background-highlight-text-light {
  background-color: var(--color-text-light);
}

.background-highlight-text-body {
  background-color: var(--color-text-body);
  color: white;
}

.background-highlight-text-headings {
  background-color: var(--color-text-headings);
  color: white;
}

.border:not(:has(img)) {
  border: var(--border-width) var(--border-style) currentColor;
  border-radius: var(--border-radius);
}
.border:has(img) img {
  border: var(--border-width) solid currentColor;
  border-radius: var(--border-radius);
}

.color-white {
  color: white;
}

.dim {
  color: var(--color-dim);
}

.highlight {
  background-color: var(--color-highlight);
}

.light {
  color: var(--color-text-light);
}

.red {
  color: #cc0000;
}

.remark-slide-content .font-size-xxs {
  font-size: var(--slides--font-size-xxs);
}

.remark-slide-content .font-size-xs {
  font-size: var(--slides--font-size-xs);
}

.remark-slide-content .font-size-sm, .remark-slide-content small {
  font-size: var(--slides--font-size-sm);
}

.remark-slide-content .font-size-default {
  font-size: var(--slides--font-size-default);
}

.remark-slide-content .font-size-md {
  font-size: var(--slides--font-size-md);
}

.remark-slide-content .font-size-lg {
  font-size: var(--slides--font-size-lg);
}

.remark-slide-content .font-size-xl {
  font-size: var(--slides--font-size-xl);
}

.remark-slide-content .font-size-xxl {
  font-size: var(--slides--font-size-xxl);
}

.remark-slide-content .font-size-huge {
  font-size: var(--slides--font-size-huge);
}

.remark-slide-content .font-size-2xhuge {
  font-size: calc(var(--slides--font-size-huge) * 2);
}
.remark-slide-content .font-size-3xhuge {
  font-size: calc(var(--slides--font-size-huge) * 3);
}
.remark-slide-content .font-size-4xhuge {
  font-size: calc(var(--slides--font-size-huge) * 4);
}
.remark-slide-content .font-size-5xhuge {
  font-size: calc(var(--slides--font-size-huge) * 5);
}

.image-height-xs img {
  height: var(--image-height-xs);
  width: auto;
}

.image-height-sm img {
  height: var(--image-height-sm);
  width: auto;
}

.image-height-default img {
  height: var(--image-height-default);
  width: auto;
}

.image-height-md img {
  height: var(--image-height-md);
  width: auto;
}

.image-height-lg img {
  height: var(--image-height-lg);
  width: auto;
}

.image-height-xl img {
  height: var(--image-height-xl);
  width: auto;
}

.image-height-full img {
  height: 100%;
  width: auto;
}

.image-width-full img {
  height: auto;
  width: 100%;
}

.image-height-font-size-xs img {
  height: var(--font-size-xs);
  width: auto;
}

.image-height-font-size-sm img {
  height: var(--font-size-sm);
  width: auto;
}

.image-height-font-size-default img {
  height: var(--font-size-default);
  width: auto;
}

.image-height-font-size-md img {
  height: var(--font-size-md);
  width: auto;
}

.image-height-font-size-lg img {
  height: var(--font-size-lg);
  width: auto;
}

.image-height-font-size-xl img {
  height: var(--font-size-xl);
  width: auto;
}

.image-height-font-size-xxl img {
  height: var(--font-size-xxl);
  width: auto;
}

.image-height-font-size-huge img {
  height: var(--font-size-huge);
  width: auto;
}

.block {
  display: block;
}

.box-shadow:not(i) {
  box-shadow: var(--shadow);
}
.box-shadow:where(i):not(.circled)::before {
  text-shadow: var(--shadow);
}
.box-shadow:where(i).circled {
  border-radius: 9999px;
  box-shadow: var(--shadow);
}

.box-shadow-small:not(i) {
  box-shadow: var(--shadow-small);
}
.box-shadow-small:where(i):not(.circled)::before {
  border-radius: 9999px;
  text-shadow: var(--shadow-small);
}
.box-shadow-small:where(i).circled {
  border-radius: 9999px;
  box-shadow: var(--shadow-small);
}

.centered {
  margin-right: auto;
  margin-left: auto;
}

.left {
  margin-right: auto;
  margin-left: 0;
}

.right {
  margin-right: 0;
  margin-left: auto;
}

.flip-x:not(i) {
  transform: scaleX(-1);
}
.flip-x:where(i)::before {
  transform: scaleX(-1);
}

.flip-y:not(i) {
  transform: scaleY(-1);
}
.flip-y:where(i)::before {
  transform: scaleY(-1);
}

.position-bottom {
  position: absolute;
  bottom: 1em;
}

.rotate-90-cw:not(i) {
  transform: rotate(90deg);
}
.rotate-90-cw:where(i)::before {
  transform: rotate(90deg);
}

.rotate-90-ccw:not(i) {
  transform: rotate(-90deg);
}
.rotate-90-ccw:where(i)::before {
  transform: rotate(-90deg);
}

.rotate-180:not(i) {
  transform: rotate(180deg);
}
.rotate-180:where(i)::before {
  transform: rotate(180deg);
}

.row {
  display: flex;
  gap: var(--spacing-default);
  margin-top: var(--spacing-default);
  margin-bottom: var(--spacing-default);
}
.row > *,
.row img {
  margin-top: 0;
  margin-bottom: 0;
}

.grid {
  display: grid;
  gap: var(--spacing-default);
  grid-template-columns: repeat(2, 1fr);
  margin-top: var(--spacing-default);
  margin-bottom: var(--spacing-default);
}
.grid.grid-auto {
  grid-template-columns: repeat(2, minmax(auto, max-content));
}
.grid.grid-2-1 {
  grid-template-columns: 2fr 1fr;
}
.grid.grid-1-2 {
  grid-template-columns: 1fr 2fr;
}
.grid > *,
.grid img {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.col > :first-child {
  margin-top: 0;
}
.col > :last-child {
  margin-bottom: 0;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.gap-tiny {
  gap: var(--spacing-tiny);
}

.column-gap-tiny {
  column-gap: var(--spacing-tiny);
}

.row-gap-tiny {
  row-gap: var(--spacing-tiny);
}

.gap-xxs {
  gap: var(--spacing-xxs);
}

.column-gap-xxs {
  column-gap: var(--spacing-xxs);
}

.row-gap-xxs {
  row-gap: var(--spacing-xxs);
}

.gap-xs {
  gap: var(--spacing-xs);
}

.column-gap-xs {
  column-gap: var(--spacing-xs);
}

.row-gap-xs {
  row-gap: var(--spacing-xs);
}

.gap-sm {
  gap: var(--spacing-sm);
}

.column-gap-sm {
  column-gap: var(--spacing-sm);
}

.row-gap-sm {
  row-gap: var(--spacing-sm);
}

.gap-default {
  gap: var(--spacing-default);
}

.column-gap-default {
  column-gap: var(--spacing-default);
}

.row-gap-default {
  row-gap: var(--spacing-default);
}

.gap-md {
  gap: var(--spacing-md);
}

.column-gap-md {
  column-gap: var(--spacing-md);
}

.row-gap-md {
  row-gap: var(--spacing-md);
}

.gap-lg {
  gap: var(--spacing-lg);
}

.column-gap-lg {
  column-gap: var(--spacing-lg);
}

.row-gap-lg {
  row-gap: var(--spacing-lg);
}

.gap-xl {
  gap: var(--spacing-xl);
}

.column-gap-xl {
  column-gap: var(--spacing-xl);
}

.row-gap-xl {
  row-gap: var(--spacing-xl);
}

.gap-xxl {
  gap: var(--spacing-xxl);
}

.column-gap-xxl {
  column-gap: var(--spacing-xxl);
}

.row-gap-xxl {
  row-gap: var(--spacing-xxl);
}

.gap-huge {
  gap: var(--spacing-huge);
}

.column-gap-huge {
  column-gap: var(--spacing-huge);
}

.row-gap-huge {
  row-gap: var(--spacing-huge);
}

.gap-0 {
  gap: 0;
}

.column-gap-0 {
  column-gap: 0;
}

.row-gap-0 {
  row-gap: 0;
}

.middle.moveup:has(> h1 + *:where(ol, ul):not(.remark-slide-number)) {
  vertical-align: unset;
}

.remark-slide-content .margin-top-tiny:not(:has(img)) {
  margin-top: var(--spacing-tiny);
}
.remark-slide-content .margin-top-tiny img {
  margin-top: var(--spacing-tiny);
}
.remark-slide-content .margin-top-xxs:not(:has(img)) {
  margin-top: var(--spacing-xxs);
}
.remark-slide-content .margin-top-xxs img {
  margin-top: var(--spacing-xxs);
}
.remark-slide-content .margin-top-xs:not(:has(img)) {
  margin-top: var(--spacing-xs);
}
.remark-slide-content .margin-top-xs img {
  margin-top: var(--spacing-xs);
}
.remark-slide-content .margin-top-sm:not(:has(img)) {
  margin-top: var(--spacing-sm);
}
.remark-slide-content .margin-top-sm img {
  margin-top: var(--spacing-sm);
}
.remark-slide-content .margin-top-default:not(:has(img)) {
  margin-top: var(--spacing-default);
}
.remark-slide-content .margin-top-default img {
  margin-top: var(--spacing-default);
}
.remark-slide-content .margin-top-md:not(:has(img)) {
  margin-top: var(--spacing-md);
}
.remark-slide-content .margin-top-md img {
  margin-top: var(--spacing-md);
}
.remark-slide-content .margin-top-lg:not(:has(img)) {
  margin-top: var(--spacing-lg);
}
.remark-slide-content .margin-top-lg img {
  margin-top: var(--spacing-lg);
}
.remark-slide-content .margin-top-xl:not(:has(img)) {
  margin-top: var(--spacing-xl);
}
.remark-slide-content .margin-top-xl img {
  margin-top: var(--spacing-xl);
}
.remark-slide-content .margin-top-xxl:not(:has(img)) {
  margin-top: var(--spacing-xxl);
}
.remark-slide-content .margin-top-xxl img {
  margin-top: var(--spacing-xxl);
}
.remark-slide-content .margin-top-huge:not(:has(img)) {
  margin-top: var(--spacing-huge);
}
.remark-slide-content .margin-top-huge img {
  margin-top: var(--spacing-huge);
}
.remark-slide-content .margin-right-tiny:not(:has(img)) {
  margin-right: var(--spacing-tiny);
}
.remark-slide-content .margin-right-tiny img {
  margin-right: var(--spacing-tiny);
}
.remark-slide-content .margin-right-xxs:not(:has(img)) {
  margin-right: var(--spacing-xxs);
}
.remark-slide-content .margin-right-xxs img {
  margin-right: var(--spacing-xxs);
}
.remark-slide-content .margin-right-xs:not(:has(img)) {
  margin-right: var(--spacing-xs);
}
.remark-slide-content .margin-right-xs img {
  margin-right: var(--spacing-xs);
}
.remark-slide-content .margin-right-sm:not(:has(img)) {
  margin-right: var(--spacing-sm);
}
.remark-slide-content .margin-right-sm img {
  margin-right: var(--spacing-sm);
}
.remark-slide-content .margin-right-default:not(:has(img)) {
  margin-right: var(--spacing-default);
}
.remark-slide-content .margin-right-default img {
  margin-right: var(--spacing-default);
}
.remark-slide-content .margin-right-md:not(:has(img)) {
  margin-right: var(--spacing-md);
}
.remark-slide-content .margin-right-md img {
  margin-right: var(--spacing-md);
}
.remark-slide-content .margin-right-lg:not(:has(img)) {
  margin-right: var(--spacing-lg);
}
.remark-slide-content .margin-right-lg img {
  margin-right: var(--spacing-lg);
}
.remark-slide-content .margin-right-xl:not(:has(img)) {
  margin-right: var(--spacing-xl);
}
.remark-slide-content .margin-right-xl img {
  margin-right: var(--spacing-xl);
}
.remark-slide-content .margin-right-xxl:not(:has(img)) {
  margin-right: var(--spacing-xxl);
}
.remark-slide-content .margin-right-xxl img {
  margin-right: var(--spacing-xxl);
}
.remark-slide-content .margin-right-huge:not(:has(img)) {
  margin-right: var(--spacing-huge);
}
.remark-slide-content .margin-right-huge img {
  margin-right: var(--spacing-huge);
}
.remark-slide-content .margin-bottom-tiny:not(:has(img)) {
  margin-bottom: var(--spacing-tiny);
}
.remark-slide-content .margin-bottom-tiny img {
  margin-bottom: var(--spacing-tiny);
}
.remark-slide-content .margin-bottom-xxs:not(:has(img)) {
  margin-bottom: var(--spacing-xxs);
}
.remark-slide-content .margin-bottom-xxs img {
  margin-bottom: var(--spacing-xxs);
}
.remark-slide-content .margin-bottom-xs:not(:has(img)) {
  margin-bottom: var(--spacing-xs);
}
.remark-slide-content .margin-bottom-xs img {
  margin-bottom: var(--spacing-xs);
}
.remark-slide-content .margin-bottom-sm:not(:has(img)) {
  margin-bottom: var(--spacing-sm);
}
.remark-slide-content .margin-bottom-sm img {
  margin-bottom: var(--spacing-sm);
}
.remark-slide-content .margin-bottom-default:not(:has(img)) {
  margin-bottom: var(--spacing-default);
}
.remark-slide-content .margin-bottom-default img {
  margin-bottom: var(--spacing-default);
}
.remark-slide-content .margin-bottom-md:not(:has(img)) {
  margin-bottom: var(--spacing-md);
}
.remark-slide-content .margin-bottom-md img {
  margin-bottom: var(--spacing-md);
}
.remark-slide-content .margin-bottom-lg:not(:has(img)) {
  margin-bottom: var(--spacing-lg);
}
.remark-slide-content .margin-bottom-lg img {
  margin-bottom: var(--spacing-lg);
}
.remark-slide-content .margin-bottom-xl:not(:has(img)) {
  margin-bottom: var(--spacing-xl);
}
.remark-slide-content .margin-bottom-xl img {
  margin-bottom: var(--spacing-xl);
}
.remark-slide-content .margin-bottom-xxl:not(:has(img)) {
  margin-bottom: var(--spacing-xxl);
}
.remark-slide-content .margin-bottom-xxl img {
  margin-bottom: var(--spacing-xxl);
}
.remark-slide-content .margin-bottom-huge:not(:has(img)) {
  margin-bottom: var(--spacing-huge);
}
.remark-slide-content .margin-bottom-huge img {
  margin-bottom: var(--spacing-huge);
}
.remark-slide-content .margin-left-tiny:not(:has(img)) {
  margin-left: var(--spacing-tiny);
}
.remark-slide-content .margin-left-tiny img {
  margin-left: var(--spacing-tiny);
}
.remark-slide-content .margin-left-xxs:not(:has(img)) {
  margin-left: var(--spacing-xxs);
}
.remark-slide-content .margin-left-xxs img {
  margin-left: var(--spacing-xxs);
}
.remark-slide-content .margin-left-xs:not(:has(img)) {
  margin-left: var(--spacing-xs);
}
.remark-slide-content .margin-left-xs img {
  margin-left: var(--spacing-xs);
}
.remark-slide-content .margin-left-sm:not(:has(img)) {
  margin-left: var(--spacing-sm);
}
.remark-slide-content .margin-left-sm img {
  margin-left: var(--spacing-sm);
}
.remark-slide-content .margin-left-default:not(:has(img)) {
  margin-left: var(--spacing-default);
}
.remark-slide-content .margin-left-default img {
  margin-left: var(--spacing-default);
}
.remark-slide-content .margin-left-md:not(:has(img)) {
  margin-left: var(--spacing-md);
}
.remark-slide-content .margin-left-md img {
  margin-left: var(--spacing-md);
}
.remark-slide-content .margin-left-lg:not(:has(img)) {
  margin-left: var(--spacing-lg);
}
.remark-slide-content .margin-left-lg img {
  margin-left: var(--spacing-lg);
}
.remark-slide-content .margin-left-xl:not(:has(img)) {
  margin-left: var(--spacing-xl);
}
.remark-slide-content .margin-left-xl img {
  margin-left: var(--spacing-xl);
}
.remark-slide-content .margin-left-xxl:not(:has(img)) {
  margin-left: var(--spacing-xxl);
}
.remark-slide-content .margin-left-xxl img {
  margin-left: var(--spacing-xxl);
}
.remark-slide-content .margin-left-huge:not(:has(img)) {
  margin-left: var(--spacing-huge);
}
.remark-slide-content .margin-left-huge img {
  margin-left: var(--spacing-huge);
}
.remark-slide-content :has(> :first-child.margin-top-0) {
  margin-top: 0;
}
.remark-slide-content .margin-top-0 {
  margin-top: 0;
}
.remark-slide-content .margin-top-0 > :first-child {
  margin-top: 0;
}
.remark-slide-content :has(> :last-child.margin-bottom-0) {
  margin-bottom: 0;
}
.remark-slide-content .margin-bottom-0 {
  margin-bottom: 0;
}
.remark-slide-content .margin-bottom-0 > :last-child {
  margin-bottom: 0;
}

.capitalize {
  font-variant: capitalize;
}

.circle {
  color: White;
  display: inline-grid;
  height: 1lh;
  margin: 0;
  min-width: 1lh;
  padding: 0;
  place-content: center;
  position: relative;
  z-index: 1;
}
.circle::before {
  font-size: 0.75em;
}
.circle::after {
  content: "";
  display: block;
  background-color: var(--color-element-decorations);
  border-radius: 9999px;
  height: 1.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 1.25em;
  width: 100%;
  z-index: -1;
}

.label {
  color: var(--color-text-light);
  font-weight: bold;
  margin-bottom: 0 !important;
  text-transform: uppercase;
}
.label + * {
  margin-top: 0 !important;
}

.normal {
  font-weight: normal;
}

.lighter {
  font-weight: lighter;
}

.bolder {
  font-weight: bolder;
}

.line-height-default {
  line-height: var(--line-height-default);
}

.line-height-sm {
  line-height: var(--line-height-sm);
}

.uppercase {
  text-transform: uppercase;
}

.checklist ol,
.checklist ul,
.circled-numbers ol,
.circled-numbers ul {
  list-style: none;
  padding-left: 0;
}
.checklist ol li,
.checklist ul li,
.circled-numbers ol li,
.circled-numbers ul li {
  padding-left: calc(1.75em + var(--spacing-xs));
  position: relative;
}
.checklist ol li::before,
.checklist ul li::before,
.circled-numbers ol li::before,
.circled-numbers ul li::before {
  background-color: var(--color-element-decorations);
  border-radius: 9999px;
  color: White;
  display: inline-grid;
  font-weight: bolder;
  height: 1.5em;
  margin-right: var(--spacing-default);
  place-content: center;
  position: absolute;
  top: calc(-1 * (1lh - 1em) / 2);
  left: 0;
  width: 1.5em;
}

.checklist li::before {
  content: "\f633";
  font-family: bootstrap-icons !important;
}
.checklist ul ul:not(ul ul ul) > li::before {
  background-color: unset;
  border: var(--border-default);
  color: var(--color-element-decorations);
  height: calc(1.5em - 2 * var(--border-width));
  width: calc(1.5em - 2 * var(--border-width));
}

.circled-numbers ol {
  counter-reset: circled-numbers;
}
.circled-numbers ol li {
  counter-increment: circled-numbers;
}
.circled-numbers ol li::before {
  content: counter(circled-numbers);
}

.no-bullets ul {
  list-style: none;
}
.no-bullets > ul {
  padding-left: 0;
}

.tablify ul,
.tablify li,
.tableify ul,
.tableify li,
.table-ify ul,
.table-ify li,
.tabular ul,
.tabular li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tablify > ul,
.tableify > ul,
.table-ify > ul,
.tabular > ul {
  display: flex;
  gap: var(--spacing-md);
}
.tablify > ul > li,
.tableify > ul > li,
.table-ify > ul > li,
.tabular > ul > li {
  color: var(--color-text-light);
  font-weight: bolder;
}
.tablify > ul > li:first-child > ul,
.tableify > ul > li:first-child > ul,
.table-ify > ul > li:first-child > ul,
.tabular > ul > li:first-child > ul {
  font-weight: bolder;
}
.tablify > ul > li > ul,
.tableify > ul > li > ul,
.table-ify > ul > li > ul,
.tabular > ul > li > ul {
  color: var(--color-text-body);
  display: flex;
  flex-direction: column;
  font-weight: normal;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-sm);
}

.text-align-center {
  text-align: center;
}

.text-outline {
  -webkit-text-stroke: 1px var(--color-text-body);
}

.text-outline-dim {
  -webkit-text-stroke: 1px var(--color-dim);
}

.text-shadow {
  text-shadow: var(--shadow);
}

.text-shadow-small {
  text-shadow: var(--shadow-small);
}

/*# sourceMappingURL=style.css.map */
