:root {
  --color-dim: rgba(112, 128, 144, .5);
  --color-element-decorations: var(--color-text-light);
  --color-highlight: rgba(255, 255, 0, .5);
  --color-links: SlateBlue;
  --color-links-hover: DarkSlateBlue;
  --color-text-light: SlateGray;
  --color-text-body: #111111;
  --color-text-headings: #333333;
  --font-family-default: "Atkinson Hyperlegible", var(--font-system-sans-serif);
  --font-system-sans-serif: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Segoe UI", "Helvetica Neue", Helvetica, Cantarell, Ubuntu, Roboto, "Noto Sans", Noto, Arial, sans-serif;
  --font-system-serif: "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-system-mono: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
  --slides--font-size-xxs: calc(var(--slides--font-size-xs) / 1.2);
  --slides--font-size-xs: calc(var(--slides--font-size-sm) / 1.2);
  --slides--font-size-sm: calc(var(--slides--font-size-default) / 1.2);
  --slides--font-size-default: 1.875rem;
  --slides--font-size-md: calc(var(--slides--font-size-default) * 1.2);
  --slides--font-size-lg: calc(var(--slides--font-size-md) * 1.2);
  --slides--font-size-xl: calc(var(--slides--font-size-lg) * 1.2);
  --slides--font-size-xxl: calc(var(--slides--font-size-xl) * 1.2);
  --slides--font-size-huge: calc(var(--slides--font-size-xxl) * 1.2);
  --index--font-size-xxs: calc(var(--index--font-size-xs) / 1.2);
  --index--font-size-xs: calc(var(--index--font-size-sm) / 1.2);
  --index--font-size-sm: calc(var(--index--font-size-default) / 1.2);
  --index--font-size-default: 1.25rem;
  --index--font-size-md: calc(var(--index--font-size-default) * 1.2);
  --index--font-size-lg: calc(var(--index--font-size-md) * 1.2);
  --index--font-size-xl: calc(var(--index--font-size-lg) * 1.2);
  --index--font-size-xxl: calc(var(--index--font-size-xl) * 1.2);
  --index--font-size-huge: calc(var(--index--font-size-xxl) * 1.2);
  --image-height-xs: calc(var(--image-height-sm) / 1.5);
  --image-height-sm: calc(var(--image-height-default) / 1.5);
  --image-height-default: 9.375rem;
  --image-height-md: calc(var(--image-height-default) * 1.5);
  --image-height-lg: calc(var(--image-height-md) * 1.5);
  --image-height-xl: calc(var(--image-height-lg) * 1.5);
  --line-height-default: 1.3;
  --line-height-sm: 1.15;
  --spacing-tiny: calc(var(--spacing-xxs) / 1.5);
  --spacing-xxs: calc(var(--spacing-xs) / 1.5);
  --spacing-xs: calc(var(--spacing-sm) / 1.5);
  --spacing-sm: calc(var(--spacing-default) / 1.5);
  --spacing-default: .9375rem;
  --spacing-md: calc(var(--spacing-default) * 1.5);
  --spacing-lg: calc(var(--spacing-md) * 1.5);
  --spacing-xl: calc(var(--spacing-lg) * 1.5);
  --spacing-xxl: calc(var(--spacing-xl) * 1.5);
  --spacing-huge: calc(var(--spacing-xxl) * 1.5);
}

a {
  color: var(--color-links);
  text-underline-offset: 0.15em;
}
a:hover, a:focus {
  color: var(--color-links-hover);
}
a:not(:hover, :focus) {
  text-decoration-color: rgba(0, 0, 0, 0.1);
}

blockquote {
  color: var(--color-text-headings);
  margin-left: 0;
  padding: 0 0 0 var(--spacing-sm);
}
blockquote p:has(+ p > cite) {
  margin-bottom: 0;
}
blockquote p:has(cite) {
  margin-top: 0;
}
blockquote cite {
  color: var(--color-text-light);
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-headings);
  font-weight: bolder;
  line-height: var(--line-height-sm);
  margin-bottom: var(--spacing-tiny);
}

ul {
  margin-left: 0;
  padding-left: 1em;
}
ul li::marker {
  color: var(--color-decorations);
}

.remark-slide-content h1 {
  font-size: var(--slides--font-size-xxl);
}
.remark-slide-content h2 {
  font-size: var(--slides--font-size-xl);
}
.remark-slide-content h3 {
  font-size: var(--slides--font-size-lg);
}
.remark-slide-content h4 {
  font-size: var(--slides--font-size-md);
}
.remark-slide-content h5 {
  font-size: var(--slides--font-size-default);
}
.remark-slide-content h6 {
  font-size: var(--slides--font-size-sm);
}

.remark-slide-content {
  padding: 2em 6em;
}
.remark-slide-content * {
  margin-top: var(--spacing-default);
  margin-bottom: var(--spacing-default);
}
.remark-slide-content > :first-child {
  margin-top: 0;
}
.remark-slide-content > :nth-last-child(2) {
  margin-bottom: 0;
}
.remark-slide-content blockquote,
.remark-slide-content ol,
.remark-slide-content ul {
  margin: var(--spacing-lg) 0;
}
.remark-slide-content img {
  height: var(--image-height-default);
  width: auto;
}

.remark-slide-content {
  color: var(--color-text-body);
  font-family: var(--font-family-default);
  font-size: var(--slides--font-size-default);
  line-height: var(--line-height-default);
}
.remark-slide-content blockquote {
  border-left: 10px solid var(--color-decorations);
  font-size: var(--font-size-md);
}
.remark-slide-content blockquote cite {
  font-size: var(--font-size-sm);
}

.remark-toolbar .remark-toolbar-timer,
.remark-notes-area .remark-bottom-area .remark-toggle {
  font-family: var(--font-family-default);
}

.remark-notes,
.remark-notes-preview {
  font-family: var(--font-family-default);
  line-height: var(--line-height-default);
}
.remark-notes blockquote,
.remark-notes-preview blockquote {
  border-left: 3px solid var(--color-dim);
}
.remark-notes ol li,
.remark-notes ul li,
.remark-notes-preview ol li,
.remark-notes-preview ul li {
  margin-top: var(--spacing-xxs);
  margin-bottom: var(--spacing-xxs);
}

.color-white {
  color: white;
}

.dim {
  color: var(--color-dim);
}

.highlight {
  background-color: var(--color-highlight);
}

.light {
  color: var(--color-text-light);
}

.red {
  color: #cc0000;
}

.remark-slide-content .font-size-xs {
  font-size: var(--slides--font-size-xs);
}

.remark-slide-content .font-size-sm, .remark-slide-content small {
  font-size: var(--slides--font-size-sm);
}

.remark-slide-content .font-size-default {
  font-size: var(--slides--font-size-default);
}

.remark-slide-content .font-size-md {
  font-size: var(--slides--font-size-md);
}

.remark-slide-content .font-size-lg {
  font-size: var(--slides--font-size-lg);
}

.remark-slide-content .font-size-xl {
  font-size: var(--slides--font-size-xl);
}

.remark-slide-content .font-size-xxl {
  font-size: var(--slides--font-size-xxl);
}

.remark-slide-content .font-size-huge {
  font-size: var(--slides--font-size-huge);
}

.image-height-xs img {
  height: var(--image-height-xs);
  width: auto;
}

.image-height-sm img {
  height: var(--image-height-sm);
  width: auto;
}

.image-height-default img {
  height: var(--image-height-default);
  width: auto;
}

.image-height-md img {
  height: var(--image-height-md);
  width: auto;
}

.image-height-lg img {
  height: var(--image-height-lg);
  width: auto;
}

.image-height-xl img {
  height: var(--image-height-xl);
  width: auto;
}

.image-height-font-size-xs img {
  height: var(--font-size-xs);
  width: auto;
}

.image-height-font-size-sm img {
  height: var(--font-size-sm);
  width: auto;
}

.image-height-font-size-default img {
  height: var(--font-size-default);
  width: auto;
}

.image-height-font-size-md img {
  height: var(--font-size-md);
  width: auto;
}

.image-height-font-size-lg img {
  height: var(--font-size-lg);
  width: auto;
}

.image-height-font-size-xl img {
  height: var(--font-size-xl);
  width: auto;
}

.image-height-font-size-xxl img {
  height: var(--font-size-xxl);
  width: auto;
}

.image-height-font-size-huge img {
  height: var(--font-size-huge);
  width: auto;
}

.block {
  display: block;
}

.flip-x:not(i) {
  transform: scaleX(-1);
}
.flip-x:where(i)::before {
  transform: scaleX(-1);
}

.flip-y:not(i) {
  transform: scaleY(-1);
}
.flip-y:where(i)::before {
  transform: scaleY(-1);
}

.row {
  display: flex;
  gap: var(--spacing-sm);
}

.grid {
  display: grid;
  gap: var(--spacing-sm);
  grid-template-columns: auto-fill, minmax(min(10rem, 100%), 1fr);
}

.middle.moveup:has(> h1 + *:where(ol, ul):not(.remark-slide-number)) {
  vertical-align: unset;
}

.remark-slide-content .margin-top-tiny:not(:has(img)) {
  margin-top: var(--spacing-tiny);
}
.remark-slide-content .margin-top-tiny img {
  margin-top: var(--spacing-tiny);
}
.remark-slide-content .margin-top-xxs:not(:has(img)) {
  margin-top: var(--spacing-xxs);
}
.remark-slide-content .margin-top-xxs img {
  margin-top: var(--spacing-xxs);
}
.remark-slide-content .margin-top-xs:not(:has(img)) {
  margin-top: var(--spacing-xs);
}
.remark-slide-content .margin-top-xs img {
  margin-top: var(--spacing-xs);
}
.remark-slide-content .margin-top-sm:not(:has(img)) {
  margin-top: var(--spacing-sm);
}
.remark-slide-content .margin-top-sm img {
  margin-top: var(--spacing-sm);
}
.remark-slide-content .margin-top-default:not(:has(img)) {
  margin-top: var(--spacing-default);
}
.remark-slide-content .margin-top-default img {
  margin-top: var(--spacing-default);
}
.remark-slide-content .margin-top-md:not(:has(img)) {
  margin-top: var(--spacing-md);
}
.remark-slide-content .margin-top-md img {
  margin-top: var(--spacing-md);
}
.remark-slide-content .margin-top-lg:not(:has(img)) {
  margin-top: var(--spacing-lg);
}
.remark-slide-content .margin-top-lg img {
  margin-top: var(--spacing-lg);
}
.remark-slide-content .margin-top-xl:not(:has(img)) {
  margin-top: var(--spacing-xl);
}
.remark-slide-content .margin-top-xl img {
  margin-top: var(--spacing-xl);
}
.remark-slide-content .margin-top-xxl:not(:has(img)) {
  margin-top: var(--spacing-xxl);
}
.remark-slide-content .margin-top-xxl img {
  margin-top: var(--spacing-xxl);
}
.remark-slide-content .margin-top-huge:not(:has(img)) {
  margin-top: var(--spacing-huge);
}
.remark-slide-content .margin-top-huge img {
  margin-top: var(--spacing-huge);
}
.remark-slide-content .margin-right-tiny:not(:has(img)) {
  margin-right: var(--spacing-tiny);
}
.remark-slide-content .margin-right-tiny img {
  margin-right: var(--spacing-tiny);
}
.remark-slide-content .margin-right-xxs:not(:has(img)) {
  margin-right: var(--spacing-xxs);
}
.remark-slide-content .margin-right-xxs img {
  margin-right: var(--spacing-xxs);
}
.remark-slide-content .margin-right-xs:not(:has(img)) {
  margin-right: var(--spacing-xs);
}
.remark-slide-content .margin-right-xs img {
  margin-right: var(--spacing-xs);
}
.remark-slide-content .margin-right-sm:not(:has(img)) {
  margin-right: var(--spacing-sm);
}
.remark-slide-content .margin-right-sm img {
  margin-right: var(--spacing-sm);
}
.remark-slide-content .margin-right-default:not(:has(img)) {
  margin-right: var(--spacing-default);
}
.remark-slide-content .margin-right-default img {
  margin-right: var(--spacing-default);
}
.remark-slide-content .margin-right-md:not(:has(img)) {
  margin-right: var(--spacing-md);
}
.remark-slide-content .margin-right-md img {
  margin-right: var(--spacing-md);
}
.remark-slide-content .margin-right-lg:not(:has(img)) {
  margin-right: var(--spacing-lg);
}
.remark-slide-content .margin-right-lg img {
  margin-right: var(--spacing-lg);
}
.remark-slide-content .margin-right-xl:not(:has(img)) {
  margin-right: var(--spacing-xl);
}
.remark-slide-content .margin-right-xl img {
  margin-right: var(--spacing-xl);
}
.remark-slide-content .margin-right-xxl:not(:has(img)) {
  margin-right: var(--spacing-xxl);
}
.remark-slide-content .margin-right-xxl img {
  margin-right: var(--spacing-xxl);
}
.remark-slide-content .margin-right-huge:not(:has(img)) {
  margin-right: var(--spacing-huge);
}
.remark-slide-content .margin-right-huge img {
  margin-right: var(--spacing-huge);
}
.remark-slide-content .margin-bottom-tiny:not(:has(img)) {
  margin-bottom: var(--spacing-tiny);
}
.remark-slide-content .margin-bottom-tiny img {
  margin-bottom: var(--spacing-tiny);
}
.remark-slide-content .margin-bottom-xxs:not(:has(img)) {
  margin-bottom: var(--spacing-xxs);
}
.remark-slide-content .margin-bottom-xxs img {
  margin-bottom: var(--spacing-xxs);
}
.remark-slide-content .margin-bottom-xs:not(:has(img)) {
  margin-bottom: var(--spacing-xs);
}
.remark-slide-content .margin-bottom-xs img {
  margin-bottom: var(--spacing-xs);
}
.remark-slide-content .margin-bottom-sm:not(:has(img)) {
  margin-bottom: var(--spacing-sm);
}
.remark-slide-content .margin-bottom-sm img {
  margin-bottom: var(--spacing-sm);
}
.remark-slide-content .margin-bottom-default:not(:has(img)) {
  margin-bottom: var(--spacing-default);
}
.remark-slide-content .margin-bottom-default img {
  margin-bottom: var(--spacing-default);
}
.remark-slide-content .margin-bottom-md:not(:has(img)) {
  margin-bottom: var(--spacing-md);
}
.remark-slide-content .margin-bottom-md img {
  margin-bottom: var(--spacing-md);
}
.remark-slide-content .margin-bottom-lg:not(:has(img)) {
  margin-bottom: var(--spacing-lg);
}
.remark-slide-content .margin-bottom-lg img {
  margin-bottom: var(--spacing-lg);
}
.remark-slide-content .margin-bottom-xl:not(:has(img)) {
  margin-bottom: var(--spacing-xl);
}
.remark-slide-content .margin-bottom-xl img {
  margin-bottom: var(--spacing-xl);
}
.remark-slide-content .margin-bottom-xxl:not(:has(img)) {
  margin-bottom: var(--spacing-xxl);
}
.remark-slide-content .margin-bottom-xxl img {
  margin-bottom: var(--spacing-xxl);
}
.remark-slide-content .margin-bottom-huge:not(:has(img)) {
  margin-bottom: var(--spacing-huge);
}
.remark-slide-content .margin-bottom-huge img {
  margin-bottom: var(--spacing-huge);
}
.remark-slide-content .margin-left-tiny:not(:has(img)) {
  margin-left: var(--spacing-tiny);
}
.remark-slide-content .margin-left-tiny img {
  margin-left: var(--spacing-tiny);
}
.remark-slide-content .margin-left-xxs:not(:has(img)) {
  margin-left: var(--spacing-xxs);
}
.remark-slide-content .margin-left-xxs img {
  margin-left: var(--spacing-xxs);
}
.remark-slide-content .margin-left-xs:not(:has(img)) {
  margin-left: var(--spacing-xs);
}
.remark-slide-content .margin-left-xs img {
  margin-left: var(--spacing-xs);
}
.remark-slide-content .margin-left-sm:not(:has(img)) {
  margin-left: var(--spacing-sm);
}
.remark-slide-content .margin-left-sm img {
  margin-left: var(--spacing-sm);
}
.remark-slide-content .margin-left-default:not(:has(img)) {
  margin-left: var(--spacing-default);
}
.remark-slide-content .margin-left-default img {
  margin-left: var(--spacing-default);
}
.remark-slide-content .margin-left-md:not(:has(img)) {
  margin-left: var(--spacing-md);
}
.remark-slide-content .margin-left-md img {
  margin-left: var(--spacing-md);
}
.remark-slide-content .margin-left-lg:not(:has(img)) {
  margin-left: var(--spacing-lg);
}
.remark-slide-content .margin-left-lg img {
  margin-left: var(--spacing-lg);
}
.remark-slide-content .margin-left-xl:not(:has(img)) {
  margin-left: var(--spacing-xl);
}
.remark-slide-content .margin-left-xl img {
  margin-left: var(--spacing-xl);
}
.remark-slide-content .margin-left-xxl:not(:has(img)) {
  margin-left: var(--spacing-xxl);
}
.remark-slide-content .margin-left-xxl img {
  margin-left: var(--spacing-xxl);
}
.remark-slide-content .margin-left-huge:not(:has(img)) {
  margin-left: var(--spacing-huge);
}
.remark-slide-content .margin-left-huge img {
  margin-left: var(--spacing-huge);
}

.capitalize {
  font-variant: capitalize;
}

.circle {
  color: White;
  display: inline-block;
  margin: 0;
  padding: 0 0.25em;
  position: relative;
  z-index: 1;
}
.circle::after {
  content: "";
  display: block;
  background-color: var(--color-element-decorations);
  border-radius: 9999px;
  height: 1.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 1.25em;
  width: 100%;
  z-index: -1;
}

.label {
  color: var(--color-text-light);
  font-weight: bold;
  margin-bottom: 0 !important;
  text-transform: uppercase;
}
.label + * {
  margin-top: 0 !important;
}

.uppercase {
  text-transform: uppercase;
}

.checklist ol,
.checklist ul,
.circled-numbers ol,
.circled-numbers ul {
  list-style: none;
  padding-left: 0;
}
.checklist ol li,
.checklist ul li,
.circled-numbers ol li,
.circled-numbers ul li {
  padding-left: calc(1.75em + var(--spacing-xs));
  position: relative;
}
.checklist ol li::before,
.checklist ul li::before,
.circled-numbers ol li::before,
.circled-numbers ul li::before {
  background-color: var(--color-element-decorations);
  border-radius: 9999px;
  color: White;
  display: inline-grid;
  font-weight: bolder;
  height: 1.5em;
  margin-right: var(--spacing-default);
  place-content: center;
  position: absolute;
  top: calc(-1 * (1lh - 1em) / 2);
  left: 0;
  width: 1.5em;
}

.checklist li::before {
  content: "\f633";
  font-family: bootstrap-icons !important;
}

.circled-numbers ol {
  counter-reset: circled-numbers;
}
.circled-numbers ol li {
  counter-increment: circled-numbers;
}
.circled-numbers ol li::before {
  content: counter(circled-numbers);
}

.no-bullets ul {
  list-style: none;
}
.no-bullets > ul {
  padding-left: 0;
}

.tablify ul,
.tablify li,
.tableify ul,
.tableify li,
.table-ify ul,
.table-ify li,
.tabular ul,
.tabular li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tablify > ul,
.tableify > ul,
.table-ify > ul,
.tabular > ul {
  display: flex;
  gap: var(--spacing-md);
}
.tablify > ul > li,
.tableify > ul > li,
.table-ify > ul > li,
.tabular > ul > li {
  color: var(--color-text-light);
  font-weight: bolder;
}
.tablify > ul > li:first-child > ul,
.tableify > ul > li:first-child > ul,
.table-ify > ul > li:first-child > ul,
.tabular > ul > li:first-child > ul {
  font-weight: bolder;
}
.tablify > ul > li > ul,
.tableify > ul > li > ul,
.table-ify > ul > li > ul,
.tabular > ul > li > ul {
  color: var(--color-text-body);
  display: flex;
  flex-direction: column;
  font-weight: normal;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-sm);
}

/*# sourceMappingURL=style.css.map */
