/* Variables */
:root {
  --color-suffolk-blue: #15284b;
  --color-suffolk-blue-dim: rgba(21, 40, 75, .5);
  --color-suffolk-gold: #fdb924;
  --color-suffolk-gold-dim: rgba(253, 185, 36, .5);

  --color-dim: rgba(255, 255, 255, .75);
  --color-element-decorations: var(--color-suffolk-gold);
  --color-links: var(--color-suffolk-gold);
  --color-links-hover: var(--color-suffolk-gold);
  --color-text-body: var(--color-suffolk-blue);
  --color-text-headings: var(--color-suffolk-blue);
}

a {
  &:not(:hover, :focus) {
    text-decoration-color: rgba(255, 255, 255, .25);
  }
}

.align-to-bottom {
  position: absolute;
    bottom: 0;

  &.right {
    right: 3em;
  }
}

.dim {
  color: var(--color-dim);
}

.remark-slide-content {
  background-color: var(--color-suffolk-blue);
  background-image: url(assets/suffolk-slide-background.png);
  background-position: center;
  background-size: cover;
  color: White;
  padding: 2em 3em;
  position: relative;

  &:not(.no-watermark) {
    &::before {
      content: '';
      background-image: url(assets/lit-lab-logos/lit-lab-torch-inverted.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: var(--slides--font-size-xxl);
      position: absolute;
        left: 1em;
        bottom: 1em;
      width: calc(var(--slides--font-size-xxl) * .4576940605);
    }
  }

  .color-suffolk-blue {
    color: var(--color-suffolk-blue);
  }
  
  .color-suffolk-gold {
    &,
    & a {
      color: var(--color-suffolk-gold);
    }
  }
  
  .color-suffolk-blue-dim {
    color: var(--color-suffolk-blue-dim);
  }
  
  .color-suffolk-gold-dim {
    color: var(--color-suffolk-gold-dim);
  }
  
  h1 {
    color: white;
    font-size: calc(1.5 * var(--slides--font-size-huge));
    line-height: 1;
  }

  h2, h3, h4, h5, h6 {
    color: white;
  }
}